@charset "UTF-8";
/* Estilo geral */
* {
  margin: 0;
  padding: 0;
}
html, body {
  overflow-x: hidden; /* Impede a rolagem horizontal */
  max-width: 100% !important;  /* Garante que a largura nunca ultrapasse 100% */
}

body {
  overflow-y: auto;
}

.rules-section,
.evaluation-criteria-section,
.awards-section,
.bracket-section,
.game-section {
  display: none; /* Esconde todas as seções inicialmente */
}

/* Cabeçalho */
.header {
  width: 100%;
  height: 7vh;
  background-image: linear-gradient(rgba(58, 3, 40, 0.6), rgba(0, 0, 0, 0.3)), url(../img/sky2.avif);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  z-index: 10;
}

.logo {
  flex: 0 0 auto; /* Não permite que a logo se expanda */
}

.logo-image {
  max-height: 40%; /* Garante que a imagem não exceda a altura da navbar */
  width: auto; /* Mantém a proporção da imagem */
  position: absolute; /* Permite posicionar a imagem de forma absoluta */
  top: 0;
  left: 0;
  margin: 15px; /* Adiciona um pequeno espaçamento, se necessário */
  margin-left: 50px;
}


.navbar {
  margin-left: auto;
  display: flex;
  position: fixed; /* Para que a imagem se posicione em relação a este elemento */
}

ul {
  display: flex;
  list-style: none;
  align-items: center; /* Alinha verticalmente os itens do menu */
}

ul li {
  margin-left: 10px;
}

ul li a {
  text-decoration: none;
  color: white !important;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: rgb(128, 0, 128) !important;
}

/* Hero Section */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/sky2.avif);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
  margin-top: -3vh;
  margin-top: 7vh;
  z-index: 1;
}

.text-box {
  color: #fff;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.text-box h1, .text-box h3, .text-box a {
  max-width: 95%; /* Garante que o conteúdo ocupe toda a largura */
}

.text-box h1 {
  font-size: 7vw; /* Diminuído */
  line-height: 1.1em;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(../img/back.png);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  display: inline-block;
  animation: back 20s linear infinite;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.text-box h3, .text-box h4 {
  font-size: 2vw; /* Diminuído */
  margin: 5px 0 0;
}

.text-box a {
  display: inline-block;
  margin: 15px auto;
  padding: 8px 12px; /* Reduzido */
  border: 2px solid white;
  background: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in 0s, transform 0.3s ease-in-out;
  width: 160px; /* Diminuído */
}

.text-box a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.highway {
  height: 20vh; /* Reduzido */
  width: 500%;
  background-image: url(../img/road.jpg);
  position: absolute;
  bottom: 0;
  animation: highway 5s linear infinite;
  z-index: -2;
}

@keyframes highway {
  100% {
    transform: translateX(-3400px);
  }
}
.city {
  height: 41.5vh; /* Reduzido */
  width: 500%;
  background-image: url(../img/city.png);
  position: absolute;
  bottom: 20vh;
  animation: city 20s linear infinite;
  z-index: -2;
}

@keyframes city {
  100% {
    transform: translateX(-1800px);
  }
}
img {
  height: 30%; /* Reduzido */
  position: absolute;
  left: 50%;
  bottom: 30px; /* Ajustado */
  transform: translateX(-50%);
  z-index: 1;
}

.run-img{
  pointer-events: none;
  z-index: -1;
}

/* Seções */
.rules-section,
.evaluation-criteria-section,
.awards-section, 
.bracket-section,
.game-section {
  position: fixed; /* Mantém a caixa centralizada e fixa na tela */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  max-width: 100%; 
  max-height: 90vh; 
  background: rgba(0, 0, 0, 0.4);
  padding: 20px; 
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Permite que a caixa em si role */
  z-index: 999;
}

.rules-text-box,
.evaluation-text-box,
.awards-text-box, 
.bracket-text-box,
.game-text-box {
  flex: 1;
  overflow-y: auto; /* Scroll somente no conteúdo */
  padding-right: 10px;
  max-width: 95%;
}

.rules-text-box h1,
.evaluation-text-box h1,
.awards-text-box h1,
.bracket-text-box h1,
.game-text-box h1 {
  font-size: 20px;
  margin-bottom: 15px;
  position: sticky !important; /* Mantém o título fixo no topo ao rolar */
  top: 0;
  z-index: 10;
  padding: 10px 0; /* Adiciona um espaçamento ao título */
  align-items: center;
}

.rules-text-box p,
.evaluation-text-box p,
.awards-text-box p,
.bracket-text-box p,
.game-text-box p {
  font-size: 14px;
  margin-bottom: 8px;
  align-items: justify;
}

.rules-text-box button,
.evaluation-text-box button,
.awards-text-box button,
.bracket-text-box button,
.game-text-box button{
  display: block;
  margin: 15px auto 0;
  padding: 8px 16px;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  transition: background 0.3s ease;
}


.rules-text-box button:hover,
.evaluation-text-box button:hover,
.awards-text-box button:hover,
.bracket-text-box button:hover
.game-text-box button:hover {
  background: rgba(255, 255, 255, 0.6);
}

/*Braket Ranking*/
/* Estilo geral do body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #222; /* Mantém o fundo escuro para a página geral */
  color: #fff;
}

/* Estilo da seção do Bracket */
.bracket-section {
  background: rgba(0, 0, 0, 0.4); 
  padding: 20px;
  display: none; /* Inicialmente oculto */
}

.bracket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

/* Estilo das rodadas (rounds) */
.round {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

/* Equipes - estilo das equipes da primeira rodada */
.team {
  width: 150px;
  height: 40px;
  background-color: #aa68d9; /* Roxo claro para as equipes da primeira rodada */
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  margin: 10px 0;
  color: white;
  font-weight: bold;
}

/* Equipes que avançam */
.team.purple {
  background-color: #8b779a; /* Equipes que avançam */
}

/* Linhas conectando os times */
.line {
  width: 2px;
  height: 40px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 40px;
}

/* Finalistas */
.final .team {
  background-color: #f0d35f;
}

/* Centralizando a Taça */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  text-align: center;
}

.trophy {
  font-size: 50px;
  color: gold; /* Cor da taça dourada */
  margin-bottom: 10px;
}

/* Estilo do campeão */
.champion {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
  white-space: nowrap; /* Força o texto a ficar em uma única linha */
  text-align: center; /* Garante que o texto fique centralizado */
}


@media (max-width: 768px) {
  .team {
      width: 120px;
      height: 35px;
      font-size: 12px;
  }

  .champion {
      font-size: 16px;
  }
}



/*SCROLL BAR*/
/* Estilo para o scrollbar */
.rules-text-box::-webkit-scrollbar,
.game-text-box::-webkit-scrollbar  {
  width: 12px; /* Largura do scrollbar */
}

.rules-text-box::-webkit-scrollbar-track,
.game-text-box::-webkit-scrollbar-track {
  background: rgba(58, 3, 40, 0.6); /* Cor de fundo do track (área de rolagem) */
  border-radius: 10px;
}

.rules-text-box::-webkit-scrollbar-thumb,
.game-text-box::-webkit-scrollbar-thumb  {
  background: rgba(58, 3, 40, 0.6); /* Cor do polegar (parte que é arrastada) */
  border-radius: 10px;
  border: 3px solid rgba(58, 3, 40, 0.6); /* Borda ao redor do polegar */
}

.rules-text-box::-webkit-scrollbar-thumb:hover,
.game-text-box::-webkit-scrollbar-thumb:hover {
  background: rgba(58, 3, 40, 0.6); /* Cor ao passar o mouse */
}

/* Para o Firefox */
.rules-text-box,
.game-text-box {
  scrollbar-width: thin; /* Define a largura do scrollbar */
  scrollbar-color: rgba(58, 3, 40, 0.6) rgba(0, 0, 0, 0.4); /* Define a cor do polegar e do track */
}


/* MEDIA QUERIES */
/* Telas menores que 768px */
@media (max-width: 768px) {
  .text-box h1 {
    font-size: 8vw;
  }
  .text-box h3 {
    font-size: 3vw;
  }
  .highway {
    height: 15vh; /* Altura ajustada */
    width: 600%; /* Cobertura da tela ajustada para a animação */
    animation: highway 6s linear infinite; /* Velocidade ajustada */
  }
  .city {
    height: 50vh; /* Ajustado para dar uma sensação de profundidade */
    bottom: 14vh; /* Alinhado logo acima da pista */
    width: 500%; /* Ajustado para seguir o mesmo padrão da highway */
    animation: city 15s linear infinite; /* Velocidade ajustada */
  }
  img {
    height: 25%; /* Diminuído */
  }
  ul {
    flex-direction: column;
    background-image: linear-gradient(rgba(58, 3, 40, 0.6), rgba(0, 0, 0, 0.3));
    position: absolute;
    top: 5.5vh;
    left: 0;
    right: 0;
    display: none;
    z-index: 20;
    width: 100vw;
    padding: 15px; /* Diminuído */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
  }
  .navbar-nav li {
    text-align: center;
    margin: 5px 0; /* Diminuído */
  }
  .navbar.active ul {
    display: flex;
  }
  .navbar li {
    margin: 5px 0; /* Diminuído */
  }
  .rules-section,
  .evaluation-criteria-section,
  .awards-section {
    padding: 10px; /* Diminuído */
  }
  .rules-text-box h1,
  .evaluation-text-box h1,
  .awards-text-box h1 {
    font-size: 18px; /* Diminuído */
  }
  .rules-text-box p,
  .evaluation-text-box p,
  .awards-text-box p {
    font-size: 12px; /* Diminuído */
  }
  .rules-text-box button,
  .evaluation-text-box button,
  .awards-text-box button {
    font-size: 10px; /* Diminuído */
  }
}
/* Telas menores que 480px */
@media (max-width: 480px) {
  .text-box h1 {
    font-size: 7vw;
  }
  .text-box h3 {
    font-size: 3vw;
  }
  ul {
    padding: 10px; /* Diminuído */
  }
  .highway {
    height: 10vh; /* Ajustado para menor altura */
    width: 1000%; /* Aumentado para evitar o espaço vazio */
    animation: highway 20s linear infinite; /* Ajuste para manter a fluidez da animação */
  }
  .city {
    height: 50vh; /* Aumentado para dar mais presença visual */
    bottom: 9vh; /* Mantém a cidade logo acima da pista */
    width: 600%; /* Ajustado para acompanhar a largura da highway */
    animation: city 12s linear infinite; /* Suavização na animação */
  }
  img {
    height: 20%; /* Diminuído para ocupar menos espaço na tela */
  }
}
/* Telas menores que 375px */
@media (max-width: 360px) {
  .text-box h1 {
    font-size: 6vw; /* Reduz ainda mais para caber na tela */
  }
  .text-box h3 {
    font-size: 2.5vw; /* Um pouco menor para manter legibilidade */
  }
  ul {
    padding: 8px; /* Ajusta o padding para um layout mais compacto */
  }
  .highway {
    height: 8vh; /* Menor altura para dar mais espaço vertical */
    width: 1200%; /* Largura aumentada para garantir que não haja lacunas */
    animation: highway 8s linear infinite; /* Animação suavizada para telas menores */
  }
  .city {
    height: 50vh; /* Ajuste para um melhor equilíbrio visual */
    bottom: 7vh; /* Mantém a cidade alinhada com a estrada */
    width: 700%; /* Ajustado para acompanhar a largura da highway */
    animation: city 12s linear infinite; /* Animação mais lenta */
  }
  img {
    height: 18%; /* Diminuído para manter o foco no conteúdo */
  }
  .navbar-nav li {
    margin: 4px 0; /* Ajusta o espaçamento entre os itens do menu */
  }
  .rules-section,
  .evaluation-criteria-section,
  .awards-section {
    padding: 8px; /* Reduz o padding para aproveitar melhor o espaço */
  }
  .rules-text-box h1,
  .evaluation-text-box h1,
  .awards-text-box h1 {
    font-size: 16px; /* Ajuste para manter legibilidade */
  }
  .rules-text-box p,
  .evaluation-text-box p,
  .awards-text-box p {
    font-size: 10px; /* Texto menor, mas ainda legível */
  }
  .rules-text-box button,
  .evaluation-text-box button,
  .awards-text-box button {
    font-size: 9px; /* Botões ajustados para telas pequenas */
  }
}

/*# sourceMappingURL=style.css.map */
