@charset "UTF-8";

#root {
  --blue: #002244;
  --dark-blue: #0A1128;
  --pink: #FF0066;
  --light-blue: #66cccc;
}
/* Estilo geral */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


/* Cabeçalho
.header {
  width: 100vw;
  min-height: 100px;
  background-color: var(--pink);
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.logo {
  flex: 0 0 auto; /* Não permite que a logo se expanda */
}


