.awards-section {
    position: absolute; 
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    max-width: 95%; /* Ajustado para responsividade */
    max-height: 80vh;
    background: rgba(0, 0, 0, 0.3); /* Alterado para combinar com as outras seções */
    padding: 20px; /* Reduzido */
    border-radius: 10px; /* Bordas arredondadas mais sutis */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
}

.awards-text-box {
    text-align: left; /* Mantém o texto à esquerda */
}

.awards-text-box h1 {
    font-size: 24px; /* Tamanho ajustado */
    margin-bottom: 15px; 
    text-align: center;
}

.awards-text-box p {
    font-size: 16px; /* Tamanho ajustado */
    margin-bottom: 15px; 
}

.awards-text-box button {
    display: block; 
    margin: 15px auto 0; 
    padding: 10px 20px; /* Tamanho reduzido */
    border: none; 
    background: rgba(255, 255, 255, 0.3); 
    color: #fff; 
    cursor: pointer; 
    border-radius: 5px; 
    font-size: 14px; /* Tamanho ajustado */
    transition: background 0.3s ease; 
}

.awards-text-box button:hover {
    background: rgba(255, 255, 255, 0.5); 
}

/* Media queries para telas menores */
@media (max-width: 768px) {
    .awards-section {
        padding: 15px; 
    }

    .awards-text-box h1 {
        font-size: 20px; 
    }

    .awards-text-box p {
        font-size: 14px; 
    }

    .awards-text-box button {
        font-size: 12px; 
    }
}

@media (max-width: 480px) {
    .awards-text-box h1 {
        font-size: 18px; 
    }

    .awards-text-box p {
        font-size: 12px; 
    }

    .awards-text-box button {
        font-size: 10px; 
    }
}
