/* Estilo geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden; 
}

.header {
    width: 100%;
    height: 5vh; 
    background-image: linear-gradient(rgba(58, 3, 40, 0.6), rgba(0, 0, 0, 0.3)), url(../img/sky2.avif);
    background-size: cover;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 10px; 
    position: relative; 
    z-index: 10; 
}

.logo img {
    max-height: 100%; 
    width: auto; 
}

.navbar {
    margin-left: auto; 
}

ul {
    display: flex; 
    list-style: none; 
}

ul li {
    margin-left: 20px; 
}

ul li a {
    text-decoration: none; 
    color: white !important; 
    transition: color 0.3s ease; 
}

ul li a:hover {
    color: rgba(128, 0, 128, 1) !important; 
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/sky2.avif);
    background-size: cover; 
    background-position: center;
    position: relative;
    overflow-x: hidden;
    margin-top: -5vh; 
    z-index: 1; 
}

.text-box {
    color: #fff; 
    position: absolute; 
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    max-width: 600px; 
    margin: 0 auto; 
}

.text-box h1 {
    font-size: 120px;
    line-height: 1; 
    font-weight: 600; 
    margin: 0; 
}

.text-box h3 {
    font-size: 20px;
    margin: 10px 0 0; 
    font-weight: 600; 
}

.text-box a {
    display: inline-block; /* Para aplicar margem corretamente */
    margin: 20px auto; /* Margem superior e inferior */
    padding: 10px 15px; /* Tamanho do botão */
    border: 2px solid white; /* Borda branca */
    background: transparent; /* Fundo transparente */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove sublinhado */
    transition: background 0.3s ease; /* Transição suave para o hover */
}

.text-box a:hover {
    background: rgba(255, 255, 255, 0.2); /* Efeito de hover com leve transparência */
}

.highway {
    height: 200px;
    width: 500%; 
    background-image: url(../img/road.jpg);
    position: absolute;
    bottom: 0;
    animation: highway 5s linear infinite;
}

@keyframes highway {
    100% { 
        transform: translateX(-3400px); 
    }
}

.city {
    height: 250px;
    width: 500%; 
    background-image: url(../img/city.png);
    position: absolute;
    bottom: 200px;
    animation: city 20s linear infinite;
}

@keyframes city {
    100% { 
        transform: translateX(-1800px); 
    }
}

img {
    height: 40%;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    z-index: 1;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .text-box h1 {
        font-size: 60px; /* Ajusta o tamanho do título para mobile */
    }

    .text-box h3 {
        font-size: 16px; /* Ajusta o tamanho do subtítulo para mobile */
    }

    .highway {
        height: 150px; /* Ajusta a altura da highway para mobile */
    }

    .city {
        height: 200px; /* Ajusta a altura da cidade para mobile */
    }

    img {
        height: 30%; /* Ajusta a altura da imagem para mobile */
    }

    ul {
        flex-direction: column; /* Coloca os itens da navbar em coluna em mobile */
        background-image: linear-gradient(rgba(58, 3, 40, 0.6), rgba(0, 0, 0, 0.3)); /* Cor de fundo para mobile */
        position: absolute;
        top: 5.5vh; /* Espaço do topo */
        left: 0;
        right: 0;
        display: none; /* Inicialmente oculto */
        z-index: 20; /* Acima de outros elementos */
        width: 100vw; /* Ocupar 100% da largura da viewport */
        max-width: 210%; /* Garantir que não exceda a largura */
        padding: 20px; /* Adiciona um espaçamento interno */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para destaque */
        align-items: center; /* Centraliza os itens horizontalmente */
    }
    
    .navbar-nav li {
        text-align: center; /* Centraliza o texto dos itens da navbar */
        margin: 10px 0; /* Margem entre os itens */
    }
    

    .navbar.active ul {
        display: flex; /* Exibe a navbar ao ativar */
    }

    .navbar li {
        margin: 10px 0; /* Margem entre itens da navbar em mobile */
    }
}

